.result {
  display: inline-block;
  border: solid;
  padding: 25px;
  text-align: center;
  word-wrap: word-break;
  margin: 5px;
}

.movie-title {
  word-wrap: word-break;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 25px;
}

body {
  background-image: url();
}
