.result {
    display: inline-block;
    border: solid;
    padding: 10px;
    text-align: center;
    margin: 5px;
    }

    form {
        border: solid;
        display: inline-block;
    }

    .form-group {
        display: inline;
    }

   /* .histDiv {
        display: inline;
    }*/
    