body {
    background-color: rgb(0, 0, 0);
}

header {
    background-color:rgb(136, 136, 136);
    height: 100px;
    color: white;
    font-size: 30px;
    margin: -10px;
    padding: 10px;
    text-align: center; 
}

form {
    border: solid;
    display: inline-block;
    margin-top: 15px;
    background-color: white;
    padding: 3px;

}

#searchBtn {
    margin-left: 3px;
}

.histDiv {
    display: inline-grid;
    
}

.historyBtn {
color: white;
background-color: blue;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
}

.result {
    background-color: rgb(136, 136, 136);
    color:white;
    display: inline-block;
    border: solid;
    padding: 25px;
    text-align: center;  
    margin: 5px;
    min-width: 54%;
}

#main {
    display: inline-grid;
    margin-left: 3px;
    min-width: 54%;
    max-width: 54%;
}

#main2 {
    float: right;
    min-width: 45%;
    display: inline-table; 
    margin-right: 3px;
    margin-top: -5px;
}
.result2 {
    background-color: rgb(136, 136, 136);
    color:white;
    border: solid;
    display: table-caption;
    margin-top: 10px;
    padding: 5px;
}


#clear {
    background: rgb(66, 184, 221); 
    color: white;

}

@media screen and (min-width: 768px) {
    form {
        border: solid;
        display: inline-block;
        margin-top: 15px;
        background-color: white;
        padding: 3px;
        margin: 15px 30% 15px 35%;
        width: 35%;
    
    }
}

@media screen and (max-width: 767px) {
    form {
        border: solid;
        display: inline-block;
        margin-top: 15px;
        background-color: white;
        padding: 3px;
        margin: 15px 30% 15px 35%;
        width: 35%;
    } 
    #main {
        display: block;
        margin-left: 3px;
        min-width: 54%;
        max-width: 54%;
        margin: 10px 45% 10px 30%;
    }
    #main2 {
        float: right;
        min-width: 45%;
        display: inline-table;
        margin-right: 3px;
        margin-top: -5px;
        margin: 10px 15% 10px 20%;
    }
}